USE [master]
GO
/****** Object:  Database [QLBanHang]    Script Date: 11/17/2025 4:30:08 PM ******/
CREATE DATABASE [QLBanHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBanHang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLBanHang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLBanHang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLBanHang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBanHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBanHang]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 11/17/2025 4:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[Soluong] [int] NULL,
	[DonGiaBan] [decimal] NOT NULL,
	[ThanhTien]  AS (isnull([Soluong],(0))*[DonGiaBan]) PERSISTED,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/17/2025 4:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [nvarchar](20) NOT NULL,
	[NgayLapHD] [datetime] NOT NULL,
	[NgayNhanHang] [datetime] NULL,
	[MaNV] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_HoaDon]    Script Date: 11/17/2025 4:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_HoaDon] AS
SELECT 
    hd.*,
    ISNULL(SUM(ct.Soluong * ct.DonGiaBan), 0) AS TongTien
FROM HoaDon hd
LEFT JOIN ChiTietHoaDon ct ON hd.MaHD = ct.MaHD
GROUP BY 
    hd.MaHD, hd.MaKH, hd.NgayLapHD, hd.NgayNhanHang, hd.MaNV;
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/17/2025 4:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [nvarchar](20) NOT NULL,
	[TenKH] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](60) NULL,
	[DienThoai] [nvarchar](15) NULL,
	[NgaySinh] [date] NULL,
	[GTinh] [bit] NULL,
	[MaThanhPho] [int] NULL,
	[HinhAnh] [nvarchar] (255)  NULL,
	[MaDN] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/17/2025 4:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[GTinh] [bit] NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](255) NULL,
	[DienThoai] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[HinhAnh] [nvarchar] (255) NOT NULL,
	[MaDN] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 11/17/2025 4:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](40) NOT NULL,
	[MaLoai] [int] NOT NULL,
	[DonGiaBan] [decimal] NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[HinhAnh] [nvarchar] (255) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhPho]    Script Date: 11/17/2025 4:30:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhPho](
	[MaThanhPho] [int] IDENTITY(1,1) NOT NULL,
	[TenThanhPho] [nvarchar](50) NULL,
 CONSTRAINT [PK_ThanhPho] PRIMARY KEY CLUSTERED 
(
	[MaThanhPho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [Soluong], [DonGiaBan]) VALUES (10248, 1001, 20, 4000)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [Soluong], [DonGiaBan]) VALUES (10248, 1005, 5, 25000)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [Soluong], [DonGiaBan]) VALUES (10248, 1012, 10, 48000)
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [NgayLapHD], [NgayNhanHang], [MaNV]) VALUES (10248, N'KH001', CAST(N'2025-11-01T00:00:00.000' AS DateTime), NULL, 2)
INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [NgayLapHD], [NgayNhanHang], [MaNV]) VALUES (10249, N'KH002', CAST(N'2025-11-02T00:00:00.000' AS DateTime), NULL, 3)
INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [NgayLapHD], [NgayNhanHang], [MaNV]) VALUES (10250, N'KH003', CAST(N'2025-11-03T00:00:00.000' AS DateTime), NULL, 2)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [DienThoai], [NgaySinh], [GTinh], [MaThanhPho], [HinhAnh], [MaDN], [MatKhau]) VALUES (N'KH001', N'Nguyễn Văn Nam', N'123 Lê Lợi, Q.1', N'0901111111', CAST(N'1990-03-15' AS Date), 1, 2, N'kh1.jpg', N'kh001', N'123456')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [DienThoai], [NgaySinh], [GTinh], [MaThanhPho], [HinhAnh], [MaDN], [MatKhau]) VALUES (N'KH002', N'Trần Thị Lan', N'56 Nguyễn Trãi, Q.5', N'0902222222', CAST(N'1992-07-20' AS Date), 0, 1, N'kh2.jpg', N'kh002', N'123456')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [DienThoai], [NgaySinh], [GTinh], [MaThanhPho], [HinhAnh], [MaDN], [MatKhau]) VALUES (N'KH003', N'Lê Minh Hoàng', N'789 Pasteur, Q.3', N'0903333333', CAST(N'1988-11-10' AS Date), 1, 3, N'kh3.jpg', N'kh003', N'123456')
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [GTinh], [NgaySinh], [DiaChi], [DienThoai], [Email], [HinhAnh], [MaDN], [MatKhau]) VALUES (1, N'Thạch Minh Dũng', 1, CAST(N'2006-07-04' AS Date), N'Quận 10', N'0902002001', N'dungminh@gmail.com', N'1.gif', N'dungnv123', N'123456')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [GTinh], [NgaySinh], [DiaChi], [DienThoai], [Email], [HinhAnh], [MaDN], [MatKhau]) VALUES (2, N'Nguyễn Thị Kim Thoa', 0, CAST(N'2006-12-28' AS Date), N'Quận 6', N'0902002002', N'nguyenthoa@gmail.com', N'2.gif', N'kthoannv', N'123456')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [GTinh], [NgaySinh], [DiaChi], [DienThoai], [Email], [HinhAnh], [MaDN], [MatKhau]) VALUES (3, N'Hồ Thị Mỹ Thuận', 0, CAST(N'2006-08-20' AS Date), N'Quận 3', N'0903003003', N'hothuannv@gmail.com', N'3.gif', N'hothuan123', N'123456')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaLoai], [DonGiaBan], [SoLuongTon], [HinhAnh]) VALUES (1001, N'Bút bi Thiên Long TL-079 xanh', 1, 4000, 1200, N'sp/tl079_xanh.jpg')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaLoai], [DonGiaBan], [SoLuongTon], [HinhAnh]) VALUES (1002, N'Bút bi Thiên Long TL-079 đỏ', 1, 4000, 900, N'sp/tl079_do.jpg')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaLoai], [DonGiaBan], [SoLuongTon], [HinhAnh]) VALUES (1003, N'Bút bi Thiên Long TL-027 đen', 1, 3500, 1500, N'sp/tl027_den.jpg')
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[ThanhPho] ON 

INSERT [dbo].[ThanhPho] ([MaThanhPho], [TenThanhPho]) VALUES (1, N'Hà Nội')
INSERT [dbo].[ThanhPho] ([MaThanhPho], [TenThanhPho]) VALUES (2, N'Sài Gòn')
INSERT [dbo].[ThanhPho] ([MaThanhPho], [TenThanhPho]) VALUES (3, N'Đà Nẵng')
SET IDENTITY_INSERT [dbo].[ThanhPho] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_NhanVien_MaDN]    Script Date: 11/17/2025 4:30:08 PM ******/
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [UQ_NhanVien_MaDN] UNIQUE NONCLUSTERED 
(
	[MaDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ('') FOR [MaDN]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ('') FOR [MatKhau]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTiet_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTiet_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTiet_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTiet_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_ThanhPho] FOREIGN KEY([MaThanhPho])
REFERENCES [dbo].[ThanhPho] ([MaThanhPho])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_ThanhPho]
GO
USE [master]
GO
ALTER TABLE SanPham
ALTER COLUMN DonGiaBan decimal NOT NULL;
GO